<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Would You Have Survived Titanic?</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'fonts/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>

    <div class="main">
        <div class="container">

            <div class="signup-content">

                <div class="signup-img">

                    <img src="{{url_for('static',filename = 'images/signup-img.jpg')}}" alt="">
                </div>
                <div class="signup-form">
                    <h1 style="text-align: center;color:blue;">Result</h1>
                    <h3 style="text-align: center;color:red;">Congrulations,You are in {valueDt}</h3>
                    

                    
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>